NODE_ENV=development
PORT=8080

URL_AVT=http://192.168.2.29
SECRET_KEY = 8Zz5tw0Ionm3XPZZfN0NOml3z9FMfmpgXwovR9fp6ryDIoGRM8EPHAB6iHsc0fb
JWT_EXPIRE = 6h
SECRET_REFRESH_KEY = SEJNUkVGUkVTSFRPS0VO
JWT_REFRESH_EXPIRE = 10d

DB_NAME=nl_db
DB_USER=namlong_user
DB_PASS=123456
DB_HOST=localhost